.container {
  background-color: rgb(223, 220, 215);
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  text-align: center;
}
